### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/terraform/environments/dev/.terraform/
/terraform/environments/dev/.terraform.lock.hcl
/terraform/environments/prod/.terraform/
/terraform/environments/prod/.terraform.lock.hcl
/terraform/environments/staging/.terraform/
/terraform/environments/staging/.terraform.lock.hcl
/data/

target
/helper/data/
/helper/data2/

cad-Frontend/package-lock.json
.DS_Store
