<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img
      style="height: 55px"
      class="brand-logo"
      src="assets/gymapp.png"
      alt="gymapp Logo"
    />
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="isUserOrTrainer">
            <a class="nav-link" routerLink="./home">
              <i class="fa fa-home"></i>Home Page
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./user">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item" *ngIf="isUserOrTrainer">
            <a class="nav-link" routerLink="./capture-workout">
              <i class="fas fa-pen"></i>Capture Workout
            </a>
          </li>
          <li class="nav-item" *ngIf="isUserOrTrainer">
            <a class="nav-link" routerLink="./workouts">
              <i class="fas fa-dumbbell"></i>Workouts
            </a>
          </li>
          <li class="nav-item" *ngIf="isUserOrTrainer">
            <a class="nav-link" routerLink="./workout-plan">
              <i class="fas fa-calendar"></i>Configure Workout Plan
            </a>
          </li>
          <li class="nav-item" *ngIf="isGymOwner">
            <a class="nav-link" routerLink="./users">
              <i class="fas fa-users"></i>Users
            </a>
          </li>
          <li class="nav-item" *ngIf="isGymOwner">
            <a class="nav-link" routerLink="./bills">
              <i class="fas fa-file-invoice-dollar"></i>Bills
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.signOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
