
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(53, 102, 54);
  color: white;
  font-weight: 600;
}

.name {
  margin-left: 10px;
}

.brand-logo {
  margin-left: 20px;
}
