<h2>Workout Plan</h2>
<ng-container *ngIf="workoutPlan$ | async; let workoutPlan">
  <div class="container">
    <div
      class="item"
      *ngFor="let dailyExcercies of workoutPlan.dailyExcercises"
    >
      {{ dailyExcercies.day }}
      <div *ngFor="let exercise of dailyExcercies.exercises">
        <div>
          {{ exercise.name + ":" + exercise.sets + " Sets of " + exercise.repetition + " repetitions with " + exercise.weight + " kg; " }}
        </div>
        <div>{{"Tag: " + exercise.tag}}</div>

      </div>
    </div>
  </div>
</ng-container>
