<div class="inner-adjust">
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Workout Plan</h1>
  </div>

  <ng-container *ngIf="!(workoutPlan$ | async)">
    <div>
      Welcome to HappyFit! Check out our home page at
      <a href="https://happy-fit-studios.de/">Happy Fit</a>!
    </div>
    <img
      src="https://happy-fit-studios.de/fixfoxdateien/2023_Kursplan_page-0001.jpg"
      alt="Kursplan"
    />
  </ng-container>
  <ng-container *ngIf="workoutPlan$ | async; let workoutPlan">
    <div>
      <div *ngFor="let exercise of workoutPlan.exercises" class="border-bottom">
        <div>
          {{
            exercise.name +
              ":" +
              exercise.sets +
              " Sets of " +
              exercise.repetition +
              " repetitions with " +
              exercise.weight +
              " kg; "
          }}
        </div>
        <div>{{ "Tag: " + exercise.tag }}</div>
      </div>
    </div>
  </ng-container>
</div>
